RewriteEngine on

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ http://developer.com:8888/openstack_horizon/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /openstack_horizon/index.php/$0 [PT,L]